# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

#   fos_user.doctrine_registry:
#       alias: doctrine

    app.user_factory:
        class: AppBundle\Model\UserFactory

#    app.user_gateway:
#        class: AppBundle\Entity\UserGateway
#        factory: [ "@doctrine", getRepository]
#        arguments: [ "AppBundle:User" ]

    app.user_gateway:
        class: AppBundle\Document\UserGateway
        factory_service: doctrine_mongodb
        factory_method:  getRepository
        arguments: [ "AppBundle:User" ]

    app.user_repository:
        class: AppBundle\Model\UserRepository
        arguments: [ "@app.user_gateway", "@app.user_factory" ]


    security.access.user_voter:
        class:      AppBundle\Security\UserVoter
        public:     false
        tags:
           - { name: security.voter }

    app.api_user_handler: 
        class: AppBundle\Handler\ApiUserHandler
        arguments: [ "@app.user_repository", "@form.factory" ]
